.offer-heading {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 6%;
}

.products {
  text-align: center;
  width: 90%;
  margin: 100px auto;
}

.products form {
  display: inline;
}

.no-search-result {
  color: #555;
  text-align: center;
  font-size: 2rem;
  margin: 80px auto;
}

.product {
  width: 18%;
  display: inline-block;
  border: 1px solid grey;
  height: 390px;
  margin: 0.4%;
  padding: 0;
}

.img-div {
  padding: 5%;
}

.product img {
  width: 100%;
  height: 250px;
}

.product .name p {
  margin: 4% 0;
}

.tag-name {
  color: white;
  background-color: black;
  padding: 5%;
}

.tag-name button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.name p {
  margin: 12px 0;
}

.inline {
  position: absolute;
  right: 20px;
  margin-top: -111px;
}

.items {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 70px auto;
}

.items a {
  font-weight: bold;

  font-size: 18px;

  color: black;

  float: left;

  padding: 8px 16px;

  text-decoration: none;

  border: 1px solid black;

  margin: 2px;
}

.items a.active {
  background-color: rgba(175, 201, 244, 0.97);
}

.items a:hover:not(.active) {
  background-color: #87ceeb;
}
